<html>
<head>
<link rel="stylesheet" href="css/styles.css">
<title>Inicio</title>
<link rel="shortcut icon" href="img/isotipo-nave-espacial.png" />
</head>
<body>
<h1> Simulador Carro </h1>
<form method="POST" action="/llenadoDeInformacion">
    <p> Ingrese su nombre: 
    <input type="text" name='nombreLabel'>
    </p>
    <input type="submit" value="Enviar">
</form>
</body>
</html>